%h1= @doc.title
%p= @doc.content
%br
%br
%h3= link_to "All documents", docs_path 
%h3= link_to "Edit document", edit_doc_path(@doc)
%h3= link_to "Delete document", doc_path(@doc),method: :delete, data: { confirm: 'Are you sure to proceed with delete?' }
